.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.colorPicker {
  margin-right: 25px;
}

.background {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 28px;
  text-align: center;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
