body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  font-weight: bold;
  
}

body #root{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
